modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_database:1.0.0", "spotify:1.0.0", "javascript_paypal:1.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_object_storage:2.0.0"]

[userenv]

[userenv.shared]
RAPIDAPI_KEY = "a2006db22amsh6d42daded905ac5p1c1331jsneb665639ab9c"
FOUNDER_BSC_WALLET = "0x09632e2582E1d21E45852964541b0539D6594b50"

[userenv.production]
PAYPAL_ENVIRONMENT = "sandbox"

[userenv.development]
PAYPAL_ENVIRONMENT = "sandbox"
